body {
  font-family: "Poppins", sans-serif;
}

.root {
  padding: 20px;
  margin: 20px;
}

form {
  padding: 10px;
  margin: 10px;
}

input {
  margin: 5px;
  padding: 5px;
}

.bics {
  background-color: green;
  color: white;
  width: 70px;
  padding: 3px;
  text-align: center;
}

.pecs {
  background-color: rgb(16, 75, 186);
  color: white;
  width: 70px;
  padding: 3px;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 3px;
  margin: 3px;
  background-color: blueviolet;
  color: white;
}

.header a {
  color: white;
}

.header a :hover {
  color: rgb(124, 29, 29);
}

.header-elem {
  padding: 2px;
  margin: 3px;
}

.back {
  background-color: rgb(228, 18, 70);
  color: white;
  width: 70px;
  padding: 3px;
  text-align: center;
}
.delts {
  background-color: rgb(207, 161, 25);
  color: white;
  width: 100px;
  padding: 3px;
  text-align: center;
}
.trics {
  background-color: rgb(80, 12, 72);
  color: white;
  width: 100px;
  padding: 3px;
  text-align: center;
}
.abs {
  background-color: rgb(2, 10, 26);
  color: white;
  width: 100px;
  padding: 3px;
  text-align: center;
}

.workout-element {
  padding: 2px;
  margin: 2px;
  width: 30%;
  height: auto;
  background-color: darkslategrey;
  color: white;
  border: 1px solid saddlebrown;
  border-radius: 9px;
}

button {
  margin: 4px;
  padding: 3px;
  background-color: chocolate;
  color: white;
  border-radius: 5px;
}

.workouts-group {
  margin: 6px;
  padding: 5px;
}

.lozenge {
  margin: 3px;
  padding-left: 4px;
  padding-right: 4px;
}

.pecs-lozenge {
  background-color: blue;
  color: white;
}

.trics-lozenge {
  background-color: rgb(75, 17, 86);
  color: white;
}

.delts-lozenge {
  background-color: rgb(226, 196, 59);
  color: white;
}

.biceps-lozenge {
  background-color: rgb(58, 168, 22);
  color: white;
}

.back-lozenge {
  background-color: rgb(255, 25, 0);
  color: white;
}

.abs-lozenge {
  background-color: rgb(17, 12, 11);
  color: white;
}
